

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #0192ef); 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.form-container {
  background: white;
  color: #4b4747;
  padding: 30px;
  border-radius: 12px;
  width: 320px;
  text-align: center;
  box-shadow: 0px 8px 20px rgba(0,0,0,0.2);
}

.form-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #000000;
}

form input {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
}


.forgot {
  display: block;
  text-align: left;
  font-size: 12px;
  color: #0192ef;
  margin-bottom: 15px;
  text-decoration: none;
}

.forgot:hover {
  text-decoration: underline;
}

.btn-submit {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  background: linear-gradient(#0192ef);
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.btn-submit:hover {
  opacity: 0.9;
}
